*.log
.DS_Store
.env
.env.backup
.env.production
.env.*
!.env.example
!.env.express.example
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/.cursor
/auth.json
/node_modules
/coverage
.nyc_output
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
